/******* Reset start *********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 10px;
}

body {
  background-color: #fff;
  list-style: none;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

footer {
  background-color: #f4f9ff;
  color: #cd212a;
  list-style: none;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.survey a {
  font-size: 1cqw;
}
/******* Reset slut *********/

/* TEKST START*/
h1 {
  font-family: "DynaPuff", sans-serif;
  color: #cd212a;
  font-weight: 600;
  font-size: 5.5cqw;
  text-align: center;
  padding-top: 10px;
}

h2 {
  font-family: "DynaPuff", sans-serif;
  font-weight: 500;
  font-size: 4cqw;
  color: #4a3728;
  padding-top: 30px;
}

h3 {
  font-family: "DynaPuff", sans-serif;
  font-weight: 400;
  font-size: 3.5cqw;
  color: #4a3728;
  padding-top: 20px;
}

h4 {
  font-family: "DynaPuff", sans-serif;
  font-weight: 400;
  font-size: 3cqw;
  color: #4a3728;
  padding-top: 15px;
}

p {
  font-family: "DynaPuff", sans-serif;
  font-size: 2.5cqw;
  color: #4a3728;
  line-height: 1.5;
  padding-top: 10px;
}

a {
  text-decoration: none;
  font-family: "DynaPuff", sans-serif;
  color: #4a3728;
  font-size: 2.5cqw;
}

a:hover {
  color: #008c45;
}
/* TEKST SLUT */

.forside {
  text-align: center;
}

.kasse {
  display: block;
  margin: 0 auto;
  padding: 10px 48px;
}

.kasse img {
  width: 47%;
  margin: 0 auto;
}

.ramme {
  background-color: #fff;
  border: solid 5px #008c45;
  border-radius: 2%;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  text-align: center;
  margin-inline: auto;
}

.ramme p {
  color: #4a3728;
  font-size: 2.5cqw;
}

.ramme a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: #cd212a;
  color: #f4f9ff;
  text-decoration: none;
  box-shadow: 0 0px 4px 0 rgb(0 0 0 / 30%);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 13px;
  margin-top: 15px;
}
.ramme a:hover {
  background-image: url(svg/flag.svg);
  color: black;
}

@media (min-width: 800px) {
  h1 {
    font-weight: 600;
    font-size: 4.5cqw;
  }

  h2 {
    font-weight: 500;
    font-size: 3cqw;
  }

  h3 {
    font-weight: 400;
    font-size: 2.5cqw;
  }

  h4 {
    font-size: 2cqw;
  }

  p {
    font-size: 1.5cqw;
  }

  a {
    font-size: 1.5cqw;
  }

  .kasse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 123px;
  }

  .kasse img {
    width: 30%;
    margin: 0;
  }
  .ramme {
    flex: 1;
    margin-inline: initial;
    /* Add other styles for the frame as needed */
  }
  .ramme p {
    font-size: 1.6cqw;
  }
}
